@using Microsoft.AspNetCore.Http
<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
<ul id="left-scoll" class="layui-nav layui-nav-tree">
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">所有商品</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">云市场</a></li>
    <li class="layui-nav-item"><a data-url="/user/index" href="javascript:;">用户列表</a></li>
    <li class="layui-nav-item"><a data-url="/role/index" href="javascript:;">角色列表</a></li>
    <li class="layui-nav-item"><a data-url="/menu/index" href="javascript:;">菜单列表</a></li>
</ul>