@{
    ViewData["Title"] = "添加角色";
    Layout = null;
}
@using SSO.Demo.Sso.Model.SystemLog
@model SystemLogFormParams
<div class="site-demo site-demo-body">
    <div class="layui-main" style="width: 550px">
        <postform id="form-role-add" asp-action='add' asp-controller="SystemLog">
            <div class="layui-form-item">
                <label class="layui-form-label">数据库名称</label>
                <editor asp-for="DataBaseName" input-display="LayuiInputInline" />
                <ValidationMessage asp-validation-for="DataBaseName" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">集合名称</label>
                <editor asp-for="ColletionName" input-display="LayuiInputInline" />
                <ValidationMessage asp-validation-for="DataBaseName" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <editor asp-for="Content" input-display="LayuiInputInline" />
                <ValidationMessage asp-validation-for="DataBaseName" />
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit="" lay-filter="btn-submit">提交</button>
                </div>
            </div>
        </postform>
    </div>
</div>

<script>
    layui.use(['form'], function () {
        var form = layui.form, $ = layui.$;

        //监听提交
        form.on('submit(btn-submit)', function (data) {
            $.confirmEdit("#form-role-add", data.field, parent.reloadForm);
            return false;
        });
    });
</script>
