@{
    ViewData["Title"] = "添加用户";
    Layout = null;
}
@using SSO.Demo.Web1.Model.User
@model UserParams
<div class="site-demo site-demo-body">
    <div class="layui-main" style="width: 350px">
        <postform asp-action="Add" asp-controller="User">
            <input asp-for="SysUserId" type="hidden" />
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <editor asp-for="UserName" input-display="LayuiInputInline" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <editor asp-for="Password" input-display="LayuiInputInline" type="password" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <editor asp-for="RealName" input-display="LayuiInputInline" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Email</label>
                <editor asp-for="Email" input-display="LayuiInputInline" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <<editor asp-for="Mobile" input-display="LayuiInputInline" />
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                </div>
            </div>
        </postform>
    </div>
</div>

<script>
    layui.use(['form'], function () {
        var form = layui.form, layer = layui.layer;

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.confirm('是否确认提交？',
                function (confirmIndex) {
                    $.post("/user/add",
                        data.field,
                        function (result) {
                            if (result.success) {
                                layer.close(confirmIndex);
                                layer.msg(result.message);

                                layer.closeAll();
                            } else
                                layer.msg(result.message);
                        });
                });
            return false;
        });
    });
</script>
