@{
    ViewData["Title"] = "用户列表";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using SSO.Demo.Toolkits.Extension
@using SSO.Demo.Web1.Model.User
@model PageListParam<ListParam>

<form id="form_userSearch">
    <div class="layui-inline">
        @Html.LayerUiEditorFor(a => a.Params.UserId, "主键")
    </div>
    <div class="layui-inline">
        @Html.LayerUiEditorFor(a => a.Params.UserName, "用户名")
    </div>
    <div class="layui-inline">
        @Html.LayerUiDateTimePickerFor(a => a.Params.BeganCreateDateTime, "开始创建时间")
    </div>
    <div class="layui-inline">
        <datetimepicker asp-for="Params.EndCreateDateTime" placeholder="结束创建时间" />
    </div>
    <input id="btn_search" class="layui-btn" value="搜索" type="button"/>
    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
</form>

<table class="layui-table" lay-data="{height:'full-335', url:'/user/list', page:true, id:'table_userlist'}" lay-filter="user-container">
    <thead>
        <tr>
            <th lay-data="{field:'userId', checkbox: true,fixed: true}"></th>
            <th lay-data="{fixed: true, width:160, align:'center', toolbar: '#toolBar'}">操作</th>
            <th lay-data="{field:'userId', width:120}">主键</th>
            <th lay-data="{field:'userName', width:120}">用户名</th>
            <th lay-data="{field:'createDateTime', width:200}">创建时间</th>
        </tr>
    </thead>
</table>

<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

@section Scripts{
    <script>
        layui.use(['table'],
            function () {
                var table = layui.table;
                var $ = layui.$;
                var layer = layui.layer;

                var reloadForm = function () {
                    var formParams = $("#form_userSearch").formSerialize();

                    table.reload('table_userlist',
                        {
                            where: formParams
                        });
                }
                //查询按钮
                $('#form_userSearch #btn_search').on('click',
                    reloadForm);

                //删除
                var deleteEvent = function (userId) {
                    layer.confirm('是否确认删除',
                        function (index) {
                            $.post("/user/delete",
                                { userid: userId },
                                function (result) {
                                    if (result.success) {
                                        reloadForm();
                                        layer.close(index);
                                        layer.msg(result.message);
                                    } else
                                        layer.msg(result.message);
                                });
                        });
                }

                //编辑
                var editEvent = function (userId) {
                    $.openLayer('/user/add', { userId: userId }, '编辑用户');
                }

                //监听表格工具栏
                table.on('tool(user-container)',
                    function (obj) {
                        var data = obj.data;
                        var userId = data.userId;
                        if (obj.event === 'del') {
                            deleteEvent(userId);
                        } else if (obj.event === 'edit') {
                            editEvent(userId);
                        }
                    });
            });
    </script>
}