@{
    ViewData["Title"] = "用户列表";
}
@using SSO.Demo.Toolkits.Model
@using SSO.Demo.Web1.Model.User
@model PageListParam<ListParam>

<form id="form_userSearch">
    <div class="layui-inline">
        <input class="layui-input" placeholder="主键" name="Params.UserId" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" placeholder="用户名" name="Params.UserName" autocomplete="off">
    </div>
    <div class="layui-inline">
        <input class="layui-input" id="Params_BeganCreateDateTime" name="Params.BeganCreateDateTime" placeholder="开始创建时间" type="text">
    </div>
    <div class="layui-inline">
        <input class="layui-input" id="Params_EndCreateDateTime" name="Params.EndCreateDateTime" placeholder="结束创建时间" type="text">
    </div>
    <input id="btn_search" class="layui-btn" value="搜索" type="button" />
    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
</form>

<table class="layui-table" lay-data="{height:'full-335', url:'/user/list', page:true, id:'table_userlist'}" lay-filter="user-container">
    <thead>
        <tr>
            <th lay-data="{field:'userId', checkbox: true}"></th>
            <th lay-data="{field:'userId', width:120}">主键</th>
            <th lay-data="{field:'userName', width:120}">用户名</th>
            <th lay-data="{field:'createDateTime', width:200}">创建时间</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.$;

            $('#form_userSearch #btn_search').on('click', function () {
                var formParams = $("#form_userSearch").formSerialize();

                table.reload('table_userlist', {
                    where: formParams
                });
            });
        });

        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#Params_BeganCreateDateTime',
                type: 'datetime'
            });
        });

        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#Params_EndCreateDateTime',
                type: 'datetime'
            });
        });
    </script>
}
