@{
    ViewData["Title"] = "用户列表";
}
@using SSO.Demo.Service
@model List<User>

<div class="demoTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
 
<table class="layui-table" lay-data="{height:315, url:'/user/list', page:true, id:'test'}" lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{field:'userId', checkbox: true}"></th>
        <th lay-data="{field:'userId', width:120}">主键</th>
        <th lay-data="{field:'userName', width:120}">用户名</th>
        <th lay-data="{field:'createDateTime', width:200}">创建时间</th>
    </tr>
    </thead>
</table>
       
@section Scripts{
    <script>
        layui.use('table', function(){
            var table = layui.table;
  
        });
    </script>
}     
